.cesium-infoBox {
  top: 160px !important;
  right: var(--header-padding);
  background-color: var(--kommunfarg);
  border-radius: 7px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  max-width: calc(100vw - var(--header-padding) * 2);
  width: 480px;
}
.cesium-infoBox-title{
  background-color: var(--kommunfarg-darker);
  border-top: 7px;
}
.cesium-infoBox-description table {
  color: #edffff;
}
.cesium-infoBox-defaultTable {
  width: 100%;
  color: #edffff;
}

button.cesium-infoBox-close {
  color: var(--c-text-default);
  opacity: 0.9;
  font-size: 1.5rem;
  top: 2px;
  right: 3px;

  font-weight: normal;
}

button.cesium-infoBox-close:hover {
  color: var(--c-text-default);
  opacity: 1;
  background: none;
  cursor: pointer;
}

button.cesium-infoBox-close:active {
  opacity: 0.8;
}


@media (min-width: 870px) {
  .cesium-infoBox {
    max-width: 40vw;
  }
}