

.spinner-wrapper {
  position: absolute;
  min-width: 200px;
  min-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid var(--kommunfarg-lighter);              /* Light grey border */
  border-top: 10px solid var(--kommunfarg);        /* Blue top border */
  border-radius: 50%;                   /* Make it a circle */
  animation: spin 1s linear infinite;   /* Infinite rotation */
  margin: 100px auto;                   /* Center horizontally */
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}