.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it appears beneath the information container */
}

.modal-hr {
  border: 1px solid var(--kommunfarg);
}

.modal-h3 {
  font-size: 1.5rem;
  color: var(--kommunfarg);
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items:baseline;
  gap: 10px;
  text-align: center;
}

.modal-h3--stats-window {
  font-size: 1rem !important;
  align-items:center;
  justify-content: center;
}

.modal-h3--info-window {
  font-size: 1.5rem !important;
  align-items:center;
  justify-content: center;
  margin-block-end: var(--padding-xl);
}

.modal-h4 {
  font-size: 0.875rem;
  color: var(--kommunfarg);
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items:baseline;
  gap: 10px;
  text-align: center;
}

.close-btn--info-window {
  --info-window-padding: 8px;
  top: var(--info-window-padding);
  right: var(--info-window-padding);
}
.close-btn--info-window > i > img {
  --close-btn-size: 16px;
  width: var(--close-btn-size);
  height: var(--close-btn-size);

}

 

.stats-window-modal__header {
  border-radius: 7px 7px 0 0;
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: var(--kommunfarg);
}

.modal-h3--project {
  font-size: 0.875rem !important;
  align-items:center;
  cursor: pointer;
}
.modal-h3--project:hover {
  text-decoration: underline;
}
.modal-h4--info-window {
  margin-block-end: 0.875rem;
}

.stats-window-modal {
  position: absolute;
  top: var(--navbar-height);
  right: 0;
  min-width: 280px;
  min-height: 40px;
  max-height: fit-content;
  z-index: 100;
  background: var(--c-background-modal);
  border: 1px solid var(--c-background-modal);
  border-radius: 7px 7px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-inline: 16px;
}

.color-category-window-modal {
  position: absolute;
  top: unset;
  bottom: 16px;
  left: 0;
  max-width: 300px;
 
}

.info-window-modal {
  position: absolute;
  top: var(--navbar-height);
  right: 0;
  min-width: 280px;
  min-height: 40px;
  max-height: calc(100vh - var(--navbar-height));
  z-index: 100;
  background: var(--c-background-modal);
  border: 1px solid var(--c-background-modal);
  border-radius: 7px 7px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-inline: var(--padding-xl);
  padding-block: var(--padding-xl);
  margin-inline-start: var(--padding-m);
  overflow-y: auto;
}

.stats-window-modal__inner {
  margin-block: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.stats-window-modal-ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.stat-feature-item {
  display: grid;
  grid-template-columns: 32px 1fr max-content;
  grid-template-rows: max-content;
  min-width: 100%;
  column-gap: 8px;
  font-size: 0.875rem;
  align-items: center;
}
.stat-feature-item__color {
  width: 32px;
  height: 24px;

}


.project-modal {
  position: relative;
  min-width: 280px;
  min-height: 40px;
  max-height: fit-content;
  z-index: 100;
  background: var(--c-background-modal);
  border: 1px solid var(--c-background-modal);
  border-radius: 7px 7px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-modal__header {
  background: var(--kommunfarg-lighter);
  border-radius: 7px 7px 0 0;
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: var(--kommunfarg);
}

.project-modal__inner {
}

.project-modal-ul {
  max-width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.project-modal-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 8px;
  padding-inline: var(--padding-m);
  border-bottom: 1px solid var(--kommunfarg);
  column-gap: 8px;
}
.project-modal-item:last-child {
  border-bottom: none;
}

.project-modal-item > label {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  font-size: 0.875rem;
  color: var(--kommunfarg);
  font-weight: 500;
}
.project-modal-item:hover > label {
  text-decoration: underline;
}
.project-modal-item > input::before {
  content: "";
  inset: 0px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.project-modal-item > input, .project-modal-item > input::after  {
  width: 10px !important;
  height: 10px !important;
}


.project-modal-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  right: 0;
  gap: 4px;
  margin-inline: unset;
  z-index: 2;
}

.modal-h5 {
  font-size: 0.875rem;
  color: var(--kommunfarg);
  margin-block-end: 0.5rem;
  font-weight: 400;
}

.modal-p {
  font-size: 1rem;
  color: var(--kommunfarg-darker);
  margin-block-end: 2rem;
  text-align: left;
  line-height: 1.4;
  max-width: 40ch;
}

.modal-h3 + .modal-p {
  margin-block-start: 1.5rem;
}
.modal-h3 + .modal-h5 {
  margin-block-start: 1rem;
}
.text-bold {
  font-weight: 600;
}

.modal-icon {
  width: 23px;
  height: 23px;
  align-self: center;
  transform: translateY(1px);
}

.modal-icon > img {
  width: inherit;
  height: inherit;
}

.modal-btn {
  padding: 0.75rem 2rem;
  border-radius: 100vmax;
  width: 100%;
  cursor: pointer;
  border: none;
  font-family: var(--kommunfont);
  font-weight: 500;
  letter-spacing: 0.28px;
  font-size: 1rem;
  line-height: 1.015;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.minus-btn--project {
  top: 10px !important;
  left: 12px !important;
}


.modal-btn:hover {
  opacity: 0.7;
}
.modal-btn:active {
  opacity: 1;
}
.modal-btn__icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-btn__icon > img {
  width: inherit;
  height: inherit;
}

.btn-primary {
  background: var(--kommunfarg);
  color: var(--c-text-default);
  border: 1px solid var(--kommunfarg);
  font-family: var(--kommunfont);
}

.btn-secondary {
  background: var(--c-background-modal);
  color: var(--c-text-highlight);
  border: 1px solid var(--kommunfarg-lighter);
  box-sizing: border-box;
  font-family: var(--kommunfont);

}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.x-btn, .minus-btn {
  position: absolute;
  border: none;
  background: none;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.x-btn {
  top: 16px;
  right: 16px;
}

.minus-btn {
  top: 16px;
  left: 16px;
  height: 14px;
  width: 14px;
}

.x-btn:hover, .minus-btn:hover {
  opacity: 0.8;
}

.x-btn:active, .minus-btn:active {
  opacity: 1;
}

.x-btn img, .minus-btn img, .x-btn i, .minus-btn i {
  height: inherit;
  width: inherit;
}

.x-btn--minimized {
  top: 14px;
}

.minus-btn--minimized {
  top: 14px;
  width: 14px;
  height: 14px;
}

.minus-btn--minimized > i > img {
  width: 16px;
  height: 16px;
}

@media (min-width: 370px) {
  .information-container {
    padding-inline: var(--padding-xl);
    padding-block: 2.5rem;

    max-width: 438px;
  }
  .modal-p {
    font-size: 1rem;
  }
  .modal-h3 {

  }
  .project-modal-holder {
    right: unset;
  }
}
@media (min-width: 750px) {
.project-modal-holder {
  justify-content: flex-start;
  margin-inline: var(--padding-m);

}
.color-category-window-modal {
  margin-inline: var(--padding-m);

}
}

@media (min-width: 1100px) {

}