body{
  min-height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background: var(--kommunfarg);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.navbar{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: auto;
  padding-inline: 20px;
  font-family: var(--kommunfont);
}

.invisible-checkbox {
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  min-width: 25px;
  min-height: 25px;
}

.hamburger-icon {
  display: block;
  visibility: visible;
  position: absolute;
  right: 51px;
}
.checkbox-hamburger {
  width: 27px;
  height: 27px;
  right: 51px;
  top: 29px;
}
.mobile-navbar-info-btn {
  position: absolute;
  cursor: pointer;
  border: none;
  background: transparent;
  right: calc(var(--header-padding) * (5.2 * 2));

}

.checkbox-hamburger:checked ~ .nav-links {
  left: 0;
}
.close-nav-mobile-btn {
  display: block;
  visibility: visible;
  position: absolute;
  right: var(--nav-padding);
  cursor: pointer;
  border: none;
  background: transparent;
  opacity: 0.75;
  transition: all 0.1s ease;
}
.close-nav-mobile-btn:hover {
  opacity: 1;
}
.close-nav-mobile-btn > i > img {
  width: 12px;
  height: 12px;
}

.eyeglass-icon {
  position: relative;
}

.hamburger-icon, .eyeglass-icon {
  display: inline-block;
}

.checkbox-hamburger:checked ~ .nav-links {
  left: 0;
}
.input-box {
  position: absolute;
  opacity: 0;
  top: 90px;
  pointer-events: none;
  visibility: hidden;
}

.checkbox-search:checked {
  opacity: 0;
}
.checkbox-search:checked ~ .input-box {
  top: 70px;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.close-input-box-btn {
  z-index: 3;
  position: absolute;
  right: 18px;
  top: 14px;
  background: transparent;
  border: none;
  opacity: 0.4;
  transition: all 0.1s ease;
}

.close-input-box-btn > i > img {
  width: 12px;
  height: 12px;
}

.close-input-box-btn:hover {
  opacity: 1;
}

.img {
  display: block;
}

.logo {
  position: absolute;
  left: var(--header-padding);
  top: 17.5px;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block-end: 100px;

}
.links li .sub-menu {
  max-height: 100%;
}

.links li .arrow{
  width: 16px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  color: var(--c-text-default);
  transition: all 0.3s ease;
  transform: rotate(270deg);
}

.nav-links{
  position: fixed;
  top: var(--navbar-height);
  left: -100%;
  display: block;
  width: 100%;
  background: var(--kommunfarg);
  line-height: 40px;
  padding: 20px;
  transition: all 0.5s ease;
  z-index: 1000;
  overflow-y: auto;
  min-height: 100%;
  max-height: calc(100vh - var(--navbar-height));
}

.nav-link-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-inline: 16px;
  row-gap: 8px;
  column-gap: 6px;
  font-weight: 600;
}
.nav-link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.nav-link__icon {
  display: block flex;
  visibility: visible;
}
.nav-link__icon > img {
  width: 20px;
  height: 20px;
}
.nav-item-w-radio {
  display: flex;
  flex-direction: row;
}

.nav-link-item .nav-a {
  font-size: 1.125rem;
  color: var(--c-text-default);
}

.nav-link-item__text-icon-container {
  display: flex;
  column-gap: 16px;
}

.dropdown-menu-label {
  width: 100%;
  text-align:center;
  display:block;
}

.sub-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  white-space: nowrap;
  padding-inline: 16px;
  padding-block: 2px;
  row-gap: 8px;
  column-gap: 10px;
  border-top: 1px solid var(--c-text-inverted);
  color: var(--c-text-inverted);
  background-color: var(--c-background-nav-link);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5;
}

.sub-menu-item__icon > img {
  width: 20px;
  height: 20px;
}

.sub-menu-item > .sub-menu-item__label {
  flex: 1; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin-right: 10px;
}

.sub-menu-item:first-child {
  border-top: none;
}

.sub-menu-label {
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-weight: 500; 
  background-color: var(--kommunfarg);
}

.nav-link-item a, .sub-menu-item .sub-menu-item__label {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.1s ease;
  color: var(--kommunfarg);
}

.nav-link-item > a::before, .sub-menu-item > .sub-menu-item__label::before {
  content: "";
  inset: 0px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.sub-menu-item:active a {
  opacity: 0.8;
}
.sub-menu-item:hover > .sub-menu-item__label {
  text-decoration: underline;
}
.sub-menu-item__label {
  width: 100%;
}

.sub-menu-label a {
  color: var(--c-text-default);
  font-weight: 600;
}

.nav-item-w-radio {
  gap: 6px;
}

.nav-radio {
  cursor: pointer;
  flex-shrink: 0;
}
.nav-radio::before {
  content: "";
  inset: 0px;
  position: absolute;
  z-index: 2;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3.5px;
  left: -1px;
  position: relative;
  background-color: var(--c-background-input);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--kommunfarg);
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3.5px;
  left: -1px;
  position: relative;
  background-color: var(--kommunfarg);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--kommunfarg);
  outline: 2px solid var(--c-background-input); /* Outer border */
  outline-offset: -4px;
}

.links li:hover .verktyg-arrow,
.links li:hover .js-arrow,
.links li:hover .zoom-arrow,
.links li:hover .layers-arrow {
  transform: rotate(180deg);
}

.kommun-arrow > img {
  width: 12px;
  height: 12px;
}
.sub-menu{
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  line-height: 40px;
  background: var(--kommunfarg);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
  max-height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}
.sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
  flex-basis: 100%;
  transition: all 0.3s ease;
}

.links li:hover .verktyg-sub-menu,
.links li:hover .zoom-sub-menu,
.links li:hover .layers-sub-menu{
  display: block;
}
.sub-menu:hover {
  display: block;
}

.links li .sub-menu .more-arrow,
.links li .sub-menu .zoomLocation1-arrow,
.links li .sub-menu .zoomLocation2-arrow,
.links li .sub-menu .zoomLocation3-arrow 
{
  line-height: 40px;
}

.links li .sub-menu .more-sub-menu,
.links li .sub-menu .more:hover .zoomLocation1-sub-menu,
.links li .sub-menu .more:hover .zoomLocation2-sub-menu,
.links li .sub-menu .more:hover .zoomLocation3-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu,
.links li .sub-menu .more:hover .zoomLocation1-sub-menu,
.links li .sub-menu .more:hover .zoomLocation2-sub-menu,
.links li .sub-menu .more:hover .zoomLocation3-sub-menu{
  display: block;
}

.links li .sub-menu li{
  border-bottom: none;
}
.nav-a::before {
  content: "";
  inset: 0px;
  position: absolute;
  z-index: 2;
}
.links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .verktyg-arrow,
.links li:hover .zoom-arrow,
.links li:hover .layers-arrow
{
  transform: translateY(2px);
  }
  .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  /* .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  } */
  .links li .sub-menu .more .zoomLocation1-sub-menu,
  .links li .sub-menu .more .zoomLocation2-sub-menu,
  .links li .sub-menu .more .zoomLocation3-sub-menu{
    position: relative;
    left: 0;
    display: none;
  }
  /* .links li:hover .verktyg-sub-menu,
  .links li:hover .layers-sub-menu,
  .links li:hover .zoom-sub-menu
  {
    display: none;
  } */
.nav-links.show1 .links .verktyg-sub-menu,
.nav-links.show3 .links .zoom-sub-menu,
.nav-links.show6 .links .layers-sub-menu,
.nav-links.show7 .links .zoomLocation1-sub-menu,
.nav-links.show8 .links .zoomLocation2-sub-menu,
.nav-links.show9 .links .zoomLocation3-sub-menu{
      display: flex;
      flex-direction: column;
      min-height: 100%;

    }
    .nav-links.show1 .links .verktyg-arrow, 
    .nav-links.show6 .links .layers-arrow,
    .nav-links.show3 .links .zoom-arrow 
{
        transform: rotate(360deg) translateY(2px);
}
    .nav-links.show2 .links .draw3d-arrow,
    .nav-links.show4 .links .measure-arrow,
    .nav-links.show5 .links .sun-arrow,
    .nav-links.show7 .links .zoomLocation1-arrow,
    .nav-links.show8 .links .zoomLocation2-arrow,
    .nav-links.show9 .links .zoomLocation3-arrow{
      transform: rotate(90deg);
    }

.search-box {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 12px;
  top: 30px;
}
.search-box i {
  cursor: pointer;
  transition: all 0.3s ease;
}
.search-box .input-box{
  position: absolute;
  right: -1.5px;
  height: 40px;
  width: 280px;
  max-width: calc(100vw - 22px);
  border-radius: 100vmax;
  transition: all 0.4s ease;
}

.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--kommunfarg);
  right: 14px;
  top: -5px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  max-width: calc(100vw - 22px);
  background-color: var(--c-background-input);
  position: absolute;
  border-radius: 100vmax;
  height: 40px;
  width: 280px;
  outline: none;
  padding: 0 1.25rem;
  font-size: 0.9rem;
  border: none;
  font-weight: 500;
  border: 2px solid var(--kommunfarg);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
  font-family: var(--kommunfont);
  color: var(--c-text-inverted);
}

.more > span {
  display: inline-flex; /* Makes the text and icon inline */
  align-items: center;  /* Ensures both are vertically aligned */
}

.more > span a {
  margin-right: 8px;  /* Adds space between the text and the arrow */
}

.more i.more-arrow {
  font-size: 16px; /* Adjust size as needed */
  /* Additional styling for the arrow can go here */
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--c-scrollbar-track);
  margin-top: 20px;
  margin-bottom: 20px; 
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-blue);
  border-radius: 10px;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
  transition: 0.5s;
}

#month-slider, #date-slider, #time-slider {
    vertical-align: middle;
}

/* LAPTOP */

@media (min-width: 870px) {
  .links {
    flex-direction: row;
    margin: 0;
    margin-block-end: unset;
  }
  .nav-links {
    position: unset;
    overflow-y: unset;
    width: unset;
    padding: 0;
    line-height: var(--navbar-height);
    display: flex;
  }
  .nav-link-item {
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
  }
  
  .nav-link-item a, .sub-menu-item__label {
    height: unset;
  }
  .nav-link-item__text-icon-container {
    column-gap: 8px;
  }
  
  .nav-link__icon {
    display: none;
    visibility: hidden;
  }
 
  .sub-menu {
    position: absolute;
    top: var(--navbar-height);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sub-menu-item {
    padding-block: 2px;    
  }
  .close-nav-mobile-btn {
    display: none;
    visibility: hidden;
  }
  .links li .sub-menu {
    max-height: calc(100vh - var(--navbar-height));
  }
  
  .links li .arrow {
    line-height: var(--navbar-height);
    transform: rotate(270deg) translateX(-2px);
  }
/*   .links li:hover .verktyg-sub-menu,
  .links li:hover .layers-sub-menu,
  .links li:hover .zoom-sub-menu
  {
    display: block;
    flex-direction: column;
  }
 */



  .navbar-sub-menu-show {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .navbar-sub-menu-hide {
    display: none;
  }



  .checkbox-hamburger {
    visibility: hidden;
    display: none;
  }
  .hamburger-icon, .mobile-navbar-info-btn {
    display: none;
    visibility: hidden;
  }

}

@media (min-width: 1000px) {
  .nav-link__icon {
    display: block flex;
    visibility: visible;
  }
}