
.instruction-img {
    width: min(275px, 100%);
    margin-inline: auto;
    display: block;
    margin-block: 8px;
    object-fit: cover;
}
  
  /* Define styles for the information container */
  .information-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - var(--padding-s) * 2);
    padding-block: 2rem;
    padding-inline: 1.5rem;
    background-color: var(--c-background-modal);
    border-radius: 7px;
    z-index: 1000; /* Ensure it appears on top of other content */
    text-align: center; /* Center the text content */
    max-height: 80%;
    max-width: 350px;
    overflow-y: auto;
  }
  
   .information-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    }
    .information-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--c-scrollbar-track);
    margin-top: 20px;
    margin-bottom: 20px; 
    }
    .information-container::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar-blue);
    border-radius: 10px;
    transition: 0.5s;
    }
    .information-container::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
    transition: 0.5s;
    }
  
  
  .flipArrow {
    background-color: #007bff;
    border-radius: 100vmax;
    cursor: pointer;
    display: flex; /* Add this to use flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    border: none;
    padding: 1rem 2rem;
    color: #FFF;
  }

     /* Material symbols */
     .material-symbols-outlined {
        vertical-align:middle;
        /* padding-right: 10px; */
      font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 48
      }
      