
.vasttrafik-journey-info-elem {
  width: 300px;
  min-height: 500px;
  max-height: calc(100vh - (var(--navbar-height)));
  background: var(--c-background-modal);
  position: absolute;
  top: var(--navbar-height); 
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}

@media (min-height: 1000px) {
  .vasttrafik-journey-info-elem {
    max-height: calc(100vh - 300px - (var(--navbar-height)));

  }
}

.vasttrafik-info__inner {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 32px 1fr auto;

}

.vasttrafik-info__header {
  background: var(--kommunfarg);
  color: var(--c-text-default);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vasttrafik-info__main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.625rem;


}

.vasttrafik-info__line-info {
 display: flex;
 gap: 0.5rem;
}

.vasttrafik-info__line-badge {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 padding: 0.25rem 0.625rem;
 text-align: center;
 border-radius: 4px;
 letter-spacing: 0.5px;
 color: blue;
 background: yellow;
 align-self: center;
}

.vasttrafik-info__transport-mode-info {
 display: flex;
 gap: 1.2rem;
 padding-inline: 0.7rem;
 text-align: center;
 border-radius: 4px;
}

.vasttrafik-text {
  color: var(--kommunfarg);
  display: flex;
  align-items: center;
}

.journey-time-table {
  display: grid;
  grid-row: 3 / span 1;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto;
  background: var(--c-background-white);
  padding-inline-end: 12px;
  max-height: 300px;
  overflow-y: auto;

}

.circle-station {
  width: 15px;
  height: 15px;
  grid-column: 1 / 2;
  background: var(--kommunfarg);
  border: 3px solid var(--kommunfarg);
  border-radius: 100vmax;
  align-self:center;
  justify-self:center;
  position: relative;
  transform-style: preserve-3d;
}

.circle-station__connector {
  position: absolute;
  top: 12px;
  left: 3.5px;
  width: 3px;
  height: 44px;
  background: var(--kommunfarg);
  transform: translateZ(-10px)
}

.time-and-station {
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;
  padding-inline-start: 6px;
  padding-block: 8px;
  border-bottom: 2px solid var(--c-background-modal);
}

.station-text {
  white-space: nowrap;
}

.station-passed {
  background: var(--c-background-modal);
}

.time-changed {
  text-decoration: line-through;
  color: var(--black-700);
  opacity: 0.5;
}

.time-text {
  display: flex;
  gap: 6px;
}

.svg-icon {
  fill: #ff6347; /* tomato red */
  width: 18px;
  height: 18px;
}
#zoom-to-time-table-station {
  scroll-margin-top: 55px;
}

.speed-tracker {
  color: var(--kommunfarg);
  font-size: 1rem;
  margin-block: 4px;
}

.tracker-wrapper {
  padding: 12px;
  font-size: 0.75rem;
  color: var(--black-700);
}