.topbar {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-inline: var(--topbar-padding);
}

.topbar__tool-list-wrapper {
  position: absolute;
  right: var(--topbar-padding);
}

.topbar__tool-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 6px;
  margin-block-end: 10px;
}

.topbar-tool {
  cursor: pointer;
}
.topbar-tool:hover {
  opacity: 0.9;
}

.download-icon {
  margin-bottom: 4px;
}

.main-logo > a > img {
  max-height: 23px;
}

.hamburger-a {
  cursor: pointer;
}
.hamburger-a > img {
  margin-block-end: 5px;
}

@media (min-height: 600px) and (min-width: 992px) {
  .main-logo > a > img {
    max-height: unset;
  }
}
