.main {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--kommunfarg);
  border-left: none;
  border-right: none;
}

.heading-address-display {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0.25rem;
  background: var(--c-background-modal);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  display: none;
  visibility: hidden;
}

@media (min-width: 992px) {
  .main {
    border-bottom: none;
    border-left: 2px solid var(--kommunfarg);
    border-right: 2px solid var(--kommunfarg);
  }
}

/* .heading-address-display:hover {
  text-decoration: underline;
} */
