.searchbar-wrapper {
  position: relative;
  z-index: 20;
  display: grid;
  grid-template-rows: auto auto;
}

.searchbar-wrapper--main-mobile {
  position: absolute;
  top: calc(var(--header-height) + 16px);
}

.searchbar {
  border-radius: 100vmax;
  border-color: var(--kommunfarg);
  border: none;
  outline: 1px solid var(--kommunfarg);
  border-width: 1px;
  background: var(--kommunfarg-lightest);
  color: var(--kommunfarg);
  padding-inline: 2em 2em;
  padding-block: 1em;
  letter-spacing: 0.25px;
  font-size: 0.875rem;
  max-width: 90vw;
}

.searchbar:focus {
  outline-width: 2px;
}

.icon--searchbar {
  position: absolute;
  left: 20px;
  top: 14px;
  max-height: 24px;
  display: none;
  visibility: hidden;
}

.searchbar__dropdown {
  position: absolute;
  top: 58px;
  min-width: 300px;
  max-height: 40vh;
  overflow-y: auto;
  background: var(--c-background-white);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.searchbar__dropdown > ul {
  padding-left: 0;
  list-style: none;
  border: 1px solid var(--c-background-input);
}

.search-result-li-item {
  background: var(--c-white);
  padding-inline: 8px;
  padding-block: 2px;
  text-transform: capitalize;
}

.search-result-li-item:hover {
  color: var(--kommunfarg-darker);
  background: var(--c-background-input);
  cursor: pointer;
}

.search-result-li-item:active {
  font-weight: 600;
}

@media (min-width: 350px) {
  .icon--searchbar {
    display: block;
    visibility: visible;
  }

  .searchbar {
    padding-inline: 4em 2em;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .searchbar-wrapper {
    position: relative;
    z-index: 20;
    display: grid;
    grid-template-rows: auto auto;
  }
}
