.main--start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1.25rem;
  overflow-y: auto;
}

p + .searchbar-wrapper {
  margin-block: 32px;
}

@media (min-height: 600px) {
  .main--start {
    padding: 1rem 2rem;
  }
}

@media (min-width: 700px) {
  .main--start {
    padding: 2rem;
  }
}
