
.main--start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}


p + .searchbar-wrapper {
  margin-block: 32px;
}


@media (min-width: 700px) {
  .main--start {
    padding: 2rem;
  }

}