.sidebar {
  overflow-y: auto;
  min-height: calc(100vh - var(--header-height));

  max-height: calc(100vh - var(--header-height));

  /* border-right: 2px solid var(--kommunfarg); */
}

.sidebar ul {
  margin-block: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-hr {
  border-top: 2px solid var(--kommunfarg);
  opacity: 0.5;
  max-width: 70%;
  margin-block: 2rem;
}

.sidebar-menu-item {
  display: grid;
  grid-template-rows: 48px 20px;
  align-items: center;
  justify-items: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--kommunfarg);
  font-size: 0.75rem;
  padding-inline: 4px;
  min-width: 100%;
}

.sidebar-menu-item:has(> .checkbox-menu:checked),
.sidebar-menu-item:has(> .radio-menu:checked) {
  /*   color: var(--kommunfarg-lighter);
 */
  font-weight: 600;
  background: var(--kommunfarg-lighter);
  /* border-left: 8px solid var(--kommunfarg);
  border-top: 2px solid var(--kommunfarg);
  border-bottom: 2px solid var(--kommunfarg); */
}

#radio-no-tool:after {
  background-image: url("/icon-arrow--darkpurple.svg");
}

#radio-place-dot:after {
  background-image: url("/icon-dot--darkpurple.svg");
}

#radio-draw-lines:after {
  background-image: url("/icon-ruler--darkpurple.svg");
}

#radio-draw-area:after {
  background-image: url("/icon-area--darkpurple.svg");
}

#radio-move-object:after {
  background-image: url("/icon-move--darkpurple.svg");
}

#radio-place-text:after {
  background-image: url("/icon-text--darkpurple.svg");
}
/* #radio-place-text:checked:after {
  background-image: url("/icon-text--purple.svg");
}
#radio-no-tool:checked:after {
  background-image: url("/icon-arrow--purple.svg");
}
#radio-place-dot:checked:after {
  background-image: url("/icon-dot--purple.svg");
}
#radio-draw-lines:checked:after {
  background-image: url("/icon-ruler--purple.svg");
}
#radio-draw-area:checked:after {
  background-image: url("/icon-area--purple.svg");
}
#radio-move-object:checked:after {
  background-image: url("/icon-move--purple.svg");
} */
.pop-up-tool-settings {
  position: absolute;
  right: 0;
}

@media (min-width: 992px) {
  .sidebar {
    max-height: unset;
  }
  .sidebar-menu-item {
    font-size: 0.825rem;
    grid-template-rows: 48px 20px;
  }
}
