body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

#root {
  --header-height: 42px;
  --topbar-padding: 16px;
  --button-bottom-margin: 0.75rem;

  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    var(--header-height) calc((100vh - var(--header-height)) / 2)
    calc((100vh - var(--header-height)) / 2);
}

button {
  font-family: var(--kommunfont);
}

.sidebar {
  position: absolute;
  top: var(--header-height);
  background: var(--c-background-bar);
  z-index: 1000;
}

.sidebar-right {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  z-index: 10;
}

.topbar {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background: var(--c-background-bar);
  display: flex;
  align-items: center;
  padding-inline: 18px;
}

.main {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.main--start {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

#cesiumContainer {
  min-height: 100vh;
  background: grey;
}

.main-logo {
  margin-block-start: 10px;
  display: inline-block;
  position: absolute;
  left: var(--topbar-padding);
}

/* TYPOGRAPHY */

.text {
  font-weight: 400;
  max-width: 425px;
  color: var(--kommunfarg);
}

.text--bold {
  font-weight: 600;
}

.heading {
  font-weight: 600;
  margin-block: 0.25em;
  line-height: 1.4;
  font-size: 1.5rem;
}

h1,
h2,
h4,
h5 {
  color: var(--kommunfarg);
}

a {
  color: var(--kommunfarg);
  font-weight: 500;
}

a:hover {
  opacity: 0.75;
}

select {
  font-family: var(--kommunfont);
  max-height: 32px;
  line-height: 1;
}

/* BUTTONS */

.button {
  border: none;
  font-size: 1rem;
  padding: 0.5em 2em;
  border-radius: 100vmax;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--kommunfont);
  display: flex;
  align-items: center;
  gap: 2px;
}

.button--primary {
  background: var(--c-btn-background--primary);
  border-color: var(--c-btn-border--primary);
  color: var(--c-btn-border--primary);
}

.button:active {
  opacity: 0.95;
}

.btn-icon {
  display: none;
  visibility: hidden;
  max-height: 16px;
}

.tool-modal {
  background: var(--c-background-modal);
  color: var(--c-text-black);
  border-radius: 10px;
  padding: 8px 16px;
}

.checkbox-menu {
  width: 38px;
  height: 38px;
  background-color: var(----white-100);
  border: none;
  cursor: pointer;
}

.radio-menu {
  background-color: var(--white-100);
  border: none;
  cursor: pointer;
}

.checkbox-menu:before,
.radio-menu:before {
  content: "";
  position: absolute;
  inset: 0px;
}

.checkbox-menu:after {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  top: -1px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  background-color: var(--white-100);
  border: 2px solid var(--kommunfarg);
  background-image: url("/icon-my-objects--white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-menu:checked:after {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: var(--white-100);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--kommunfarg);
  background-image: url("/icon-my-objects--purple.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio-menu:after {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  top: -12px;
  left: -15px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  background-color: var(--white-100);
  background-repeat: no-repeat;
  background-position: center;
}

.radio-menu:checked:after {
  background-color: var(--kommunfarg-lighter);
}

.modal-input {
  max-height: 32px;
  box-sizing: border-box;
}

.modal-input__number {
  padding-inline: 8px;
  min-width: 50px;
}
.modal__btn-container {
  padding-block: 8px;
}
.modal-input__color {
  max-width: 32px;
  min-height: 32px;
}

.h3-modal {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 0.875rem;
  color: var(--c-text-black);
  font-weight: 600;
}

.modal-row {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 8px;
}

@media (min-width: 350px) {
  .btn-icon {
    display: block;
    visibility: visible;
  }
}
@media (min-height: 500px) {
  #root {
    --button-bottom-margin: 1rem;
  }
}
@media (min-height: 600px) {
  .heading {
    margin-block: 0.67em;
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  #root {
    --header-height: 90px;
    --topbar-padding: 16px;
    grid-template-columns: 100px 1fr 320px;
    grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
  }
  .sidebar {
    grid-row: 2 / -1;
    grid-column: 1 / span 1;
    position: unset;
  }
  .sidebar-right {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
  }
  .main {
    grid-column: 2 / -2;
    grid-row: 2 / -1;
  }
  .btn-save-my-map {
    position: unset;
    bottom: unset;
    right: unset;
  }
  .tool-modal {
    z-index: 110;
    position: relative;
    max-width: 360px;
    background: var(--c-background-modal);
    color: var(--c-text-black);
    border-radius: 10px;
    padding: 24px;
    font-weight: 500;
  }
  .modal__btn-container {
    margin-block-start: 40px;
    position: unset;
  }
}
